:root {
    /* white */
    --pri: #ffffff; 
    /* light grey */
    --sec: #f8f8f8;
    /* charcoal grey */
    --grey: #333333;
    /* reading grey */
    --read: #212427;
 }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

@font-face {
    font-family: Grotesk;
    src: url(./static/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
  }

@font-face {
font-family: Inter;
src: url(./static/Inter/static/Inter-Regular.ttf)
} 

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    font-family: Grotesk;
    overflow:hidden;
}

#kanbanTop {
    height: 5vh;
    width: 100%;
    background-color: var(--sec);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    #kanbanTop img {
        object-fit: contain;
        width: 5vw;
        margin-right:2vw;
    }

#kanban {
    display: flex;
    flex-direction: row;
}

#modalWrapper {
    display: none;
    position:absolute;
    width: 100vw;
    height: 100vh;
    filter: blur(50vw);
    background-color: var(--pri);
    z-index: 101;
}

    .headerModal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 15%;
        /* border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px; */
        border-bottom: 0.33px solid #333333;
    }

    .headerTitle {
        padding-left: 3vw;
        width: 90%;
        font-size: 1.3em;
    }

    .closeModal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vw;
    }

    .closeModal:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    .contentModal {
        font-family: Inter;
        padding-top: 3vh;
        overflow-y:scroll;
        width: inherit;
        height: 85%;
        background-color: var(--sec);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.1vh;
        align-items:center;
        position:relative;
    }

    .basketModal {
        font-family: Inter;
        position:relative;
        display: flex;
        flex-direction: column;
        width: 87.5%;
        background-color: var(--pri);
        box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
        /* border: 0.3px solid var(--grey) */
        /* border-radius: 10px; */
    }

    .barModal {
        height: 10vh;
        /* background-color: #FFA41C; */  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    } 

        .barModalSelect {
            background-color: var(--sec) !important;
        }

        .barModal:hover {
            background-color: var(--sec);
            cursor: pointer;
        }

        .barTitle {
            width: 87.5%;
            height: 40%;
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .barContainer {
            width: 87.5%;
            height: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1vw;
        }



    .basketContent {
        display: none;
        overflow-y:scroll;
        height: 30vh;
    }

        .accordion {
            animation: 1s accordion forwards;
        }


        @keyframes accordion {
            from {
                height: 0vh;
            }
            to {
                height: 30vh;
            }
        }
        

#cuModal {
    width: 50vw;
    height: 80vh;
    left: 25vw;
    top: 10vh;
    background-color: var(--pri);
    filter:none;
}


#informationModal {
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    margin-top: 10vh;
    background-color: var(--pri);
    filter:none;
}

    .showInfo {
        display: flex;
    }

    #courseTitle {
        font-size: 1.5em
    }

#filterModal {
    width: 50vw;
    height: 50vh;
    margin-top: 25vh;
    margin-left: 25vw;
}

    #closeFilter {
        width: 20%;
        display: flex;
        flex-direction: column;;
        justify-content: center;
        align-items: center;
    }

    @keyframes openFilter {
        from {
            width: 0%; 
            transform: translateX(-15vh) translateY(-15vh);  
            opacity: 0.2;
        }
        /* to {
            width: 100%;
        } */
    }

    /* .filterOpen {
        animation: openFilter 1s ease;
    } */

#errorModal {
    width: 50vw;
    height: 30vh;
    margin-top: 35vh;
    margin-left: 25vw;
}

    #errorClose {
        background-color: red;
        color: white;
        width: 20%;
        height: 10%;
    }

    .showError {
        display: flex;
    }

.modalBox {
    display:none;
    position:absolute;
    z-index: 200;
    border-radius: 20px;
    background-color: var(--pri);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.531);
    border: 0.3px solid #b3b3b3;
    overflow:hidden;
}

.modalOpen {
    pointer-events: none;
}


#sideBar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 17.5%;
    justify-content: flex-start;
    align-items: center;
    height: 94vh;
    background-color: var(--sec);
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
    /* animation: openSideBar 2s alternate-reverse; */
}

@keyframes closeSideBar {
    from {
        width: 17.5%;
        opacity:1;
    }
    to {
        width:0%;
        opacity: 0;
    }
}

.hideSideBar {
    animation: closeSideBar 1s forwards ease;
    /* width: 0% !important; */
}


    #searchContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 90vh;
        width: 100%;
    }
        #searchInput {
            width: 80%;
            height: 7.5%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        #searchInput input {
            width: 80%;
            height: 75%;
            border: 3px solid var(--grey);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-left: 15px;
            font-family: Grotesk;
            transition: border 0.3s;
          }
          
          #searchInput input:focus {
            outline:none;
            border: 3px solid transparent;
            background-image: linear-gradient(white, white), linear-gradient(315deg, rgb(236, 160, 255), rgb(170, 178, 255), rgb(132, 255, 201));
            background-origin: border-box;
            background-clip: padding-box, border-box;
            animation: bg-hue 10s linear infinite;
          }

          @keyframes bg-hue {
            100% {
              filter: hue-rotate(360deg);
            }
          }

        #filterContainer {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 20%;
            height: 75%;
            background-color: var(--grey);
            display: flex;
            flex-direction: center;
            justify-content: center;
            align-items: center;
        }

        #filterContainer:hover {
            outline:none;
            cursor: pointer;
        }

        #filterContainer img:hover {
            animation: squeezeFilter 1s infinite;
            transform: scale(0.3);
        } 

        @keyframes squeezeFilter {
            0% {
                transform: scale(0.98);
            }
            20% {
                transform: scale(0.9) rotateZ(10deg)
            }
            50% {
                transform: scale(0.85) rotateZ(-10deg);
            }
            100% {
                transform: scale(0.98);
            }

        }


            #filterContainer img {
                width: 40%;
                object-fit:contain;
            }

        #searchbar {
            width: 100%;
            height: 40px;
        }

        #searchResult {
            width: 90%;
            height: 92.5%;
            overflow-y: scroll;
            overflow-x: hidden !important;
            scrollbar-width: none;
        }

        #searchResult > div {
            margin-top: 10px;
            width: 95%;
        }


#mainContainer {
    display: flex;
    flex-direction: column;
    width: 82.5%;
    height: 100%;
    margin-left: 17.5%;
    /* animation: expandMainContainer 1s alternate-reverse; */
}

@keyframes expandMainContainer {
    from {
        margin-left: 17.5%;
        width: 80%;
    }
    to {
        margin-left: 0px;
        width:100%;
    }
}


.expandMain {
    animation: expandMainContainer 1s forwards ease;
    /* width: 100% !important; */
}

    #trackBar {
        display:none;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        height: 10vh;
        position: absolute;
        z-index: 100;
        margin-top: 6vh;
        background-color: var(--pri);
        box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.2);
    }
    .trackContainer {
        width: 10%;
        height: 90%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2%;
    }

    .trackContainer > p {
        text-align: left;
        margin: 10px 0px 10px 0px;
    }

    .trackContainer select {
        height: 25%;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-family: Grotesk;
        color: var(--read);
        font-size: 14px;
        /* appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; */
        cursor: pointer;
        
    }

        .trackContainer select:hover {
            background-color: var(--sec);
        }

        .trackContainer select:focus {
            background-color: var(--sec);
        }

        .trackContainer option {
            background-color: var(--grey);
            color: var(--pri);
            width: 100%;
        }

        #openTrack  {
            width: 25%;
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-top: 0em;
            font-family: Grotesk;
            color: var(--grey);
            font-weight: bolder;
            padding-top: 0.3em;
        }

            #openTrack:hover {
                cursor:pointer;
            }


            @keyframes expandTrack {
                from {
                    height: 0%;
                    opacity: 0;
                }
            }
        
            .toggleTrack {
                display: flex !important;
                animation: expandTrack 0.5s forwards ease-in-out;
            }

            #openTrack img {
                object-fit: contain;
                width: 15%;
            }

            @keyframes flipArrow {
                0% {
                    opacity: 0.9;
                    transform: rotate(0deg);
                }
                100% {
                    opacity: 1;
                    transform : rotate(180deg)
                }
            }

            .flipArrow {
                animation: flipArrow 0.5s;
                transform: rotate(180deg);
            }

            .reverseArrow {
                animation: flipArrow 0.5s alternate-reverse;
                transform: rotate(0deg);
            }


    #topBar {
        width: 100%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--pri);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

        #recoContainer {
            width: 65%;
            height: inherit;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
        }

        #closeSidebar {
            width: 10%;
            text-align: center;
        }

        #closeSidebar:hover {
            cursor: pointer;
        }

        #closeSidebar p {
            margin: 0px;
            padding: 0px;
            font-weight: bolder;
            font-size: 30px;
            color:var(--grey);
        }


        #cuContainer {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5.5%;
        }

            .cuBar {
                width:75%;
                height:30%;
                border-radius: 20px;
                border: 0.5px solid var(--grey);
                overflow: hidden;
                display: flex;
                flex-direction: row;
                /* box-shadow: 2px 2px 2px #333333; */
    
            }


            .basket {
                height: 100%;
                width: 0%;
                animation: growCU 2s ease-in-out;
            }


            @keyframes growCU {
                from {
                    width:0;
                }
            }

            #cuInformation {
                width: 40%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            #cuInformation img {
                width: 1.55vw;
            }

            #cuInformation img:hover {
                cursor:pointer;
                width: 1.75vw;
            }

        
        #validContainer {
            width: 35%;
            height: inherit;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

            #validContainer p {
                font-size: 0.7em;
                text-align:center;
                margin:0;
                padding: 0;
            }

            #majorOutput {
                height: 100%;
                width: 50%;
                text-align: right;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                gap: 2px;
            }



        #focusKanban {
            width: 20%;
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-top: 0em;
            font-family: Grotesk;
            color: var(--grey);
            font-weight: bolder;
            padding-top: 0.3em;
        }

        #focusKanban img {
            width: 20%;
        }



    #mainBoard {
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }


    .unfocus {
        width: 200%;
        gap:20px;
        /* animation: expand 1s; */
    }

    .focus {
        width: 100%;
        gap:0px;
        /* animation: contract 1s; */
        overflow: hidden;
    }

    .horizontalScroll {
        overflow-x: scroll;
    }
    

    #tabBar {
        height: 5vh;
        /* border: 1px solid var(--read); */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
         box-shadow: 3px 3px 2px 0.5px #333333;
    }

    #tabContainer {
        display: flex;
        flex-direction: row;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab {
        height: 80%;
        width: 18vh;
        border: 0.5px solid var(--read);
        border-bottom: 3px solid var(--grey);
        display: flex;
        justify-content: space-between;
        align-items: center;  
        margin-left: 3px;
        animation: slideTab 0.75s ease-in-out;
        overflow:hidden;
        text-align: center;
        /* box-shadow: 2px 2px 2px 4px #333333; */
    }

    .tab  p {
        text-align: left;
        margin-left: 0.3em;
    }

    .tab img {
        object-fit: contain;
        width: 1.25vw;
      }
      
      .tab img:hover {
        filter: invert(100%);
      }

    @keyframes slideTab {
        0% {
            width: 5vh;
            opacity: 0;
        }
        50% {
            opacity: 0.2;
        }
        100% {
            width: 18vh;
        }
    }

    .tab:hover {
        background-color: var(--grey);
        color: white;
        cursor: pointer;
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        -o-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
    }

    .selectTab {
        background-color: var(--grey);
        color: white;
        border-bottom: 3px solid rgb(255, 255, 255);
    }

    .selectTab img {
        filter: invert(100%);
    }

    #addTab {
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        font-size: 1.5em;
        color: var(--grey);
        width: 10%;
        height: 100%;
    }

    #addTab p:hover {
        cursor: pointer;
        animation: spinAdd 1.5s infinite;
    }

    @keyframes spinAdd {
        to {
            transform: rotate(90deg);
        }
    }

    #tabSelection {
        position: absolute;
        display: none;
        width: 18vh;
        height: 15vh;
        flex-direction: column;
        z-index: 80;
        background-color: var(--grey);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
    }


    .tabSelect {
        text-align: center;
        height: 33%;
        width: 100%;
        color: var(--sec);;
    }

    .tabSelect:hover {
        cursor: pointer;
        color: var(--grey);
        background-color: var(--pri);
        border: 1px solid var(--grey);
    }

    .tab input {
        background-color: #333333;
        color: white;
        font-family: Grotesk;
        height: 100%;
        border:none;
        text-align: center;
    }

    /* .tab input:focus {
        background-color: #333333;
        color: white;
        font-family: Grotesk;
        border:none;
    } */



.semWrapper {
    height: 100%;
    width: 100px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2.5%;
    flex: 1;
    border-radius: 5px;
    background-color: var(--sec);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.semContainer {
    height: 87.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.45em;
    overflow:hidden;
    
}


.semWrapper h2 {
    font-size: 1.3em;
    letter-spacing: 2px;
}

.semTitle {
    width: 30%;
    height: 5%;
    background-color: var(--grey);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 60%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

    .expandSemTitle {
        animation: expandSemTitle 1s forwards;
        width: 50%;
    }

    @keyframes expandSemTitle  {
        from {
            width: 35%;
        }
        to {
            width: 50%;
        }
    }


.moduleCard {
    height: 12vh;
    width: 17.5vw;
    border-radius: 20px;
    background-color: white;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    font-size: 0.8em;
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    /* animation: fade 0.5s ease-in-out; */
}

.moduleRec {
    background-color: #ffffff;
    width:40%;
    height: 2vh;
    font-size: smaller;
    border: 0.5px solid var(--grey);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(70%) translateY(460%);
  }

  


/* @keyframes fade {
    0% {
        opacity: 0.9;
        transform: translateY(-2px);
    }
    100% {
        opcaity: 1;
    }
} */

.moduleCard p {
    font-family: Inter;
    color: var(--read);
    margin: 0.6vh 0.2em 0em 1vw;
    padding: 0px;
    text-align:left;
}

.moduleCard img {
    position: relative;
    vertical-align: middle;
    width: 2.75vh;
}

/* .moduleCard img:hover {
    vertical-align: middle;
    width: 3.5vh;
    cursor: pointer;
    font-weight: bolder;
} */

.moduleCard:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* .moduleCard:hover {
    transform: translateZ(100px);
} */

    .shrink {
        width:10.5vw !important;
        /* font-size: smaller; */
        overflow-wrap: break-word;
    }

    .shrink > p {
        overflow-wrap: break-word!important;
        /* font-size: small; */
    }

.moduleTop {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.1vw;
}

    .moduleTop img {
        width: 8.5%;
        height: 70.5%;
        margin-top: 0.8em;
        margin-right: 0.5em;
    }

    .recoGIF{
        width: 3vw;
        height: 5vh;
        margin-left: 60%;
    }

    #modSelection {
        position: absolute;
        display: none;
        width: 18vh;
        height: 10vh;
        flex-direction: column;
        z-index: 150;
        background-color: var(--pri);
        border-radius: 10px;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

        .modSelect {
            font-size: 1.1em;
            font-weight: 550;
            width: 100%;
            text-align: center;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modSelect:hover {
            background-color: var(--sec);
            cursor: pointer;
            border-radius: 10px;
        }


    .moduleColor {
        width: 12.5%;
        height: 25%;
        background-color: #FFA41C;
        margin-bottom: 5px;
        margin-top: 1em;
        margin-left: 0.7em;
        border-radius: 5px;
        animation: fadeColor 2s ease-out;
    }

    @keyframes fadeColor {
        from {
            opacity: 0.75
        }
        to {
            opacity: 1
        }
    }

#moduleGap {
    height: 12vh;
    width: 17.5vw;
    animation: expandGap 0.5s;
    /* border: 1px solid var(--grey); */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

@keyframes expandGap {
    from {
        height: 0vh;
        opacity: 0;
    }
     to {
        /* border: 1px solid var(--grey); */
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     }
}


